extends layout

block layout-content
  div.View
    h1.Banner EGR302 Project
    div.Message
      div.Title
        h3 The #1 helper for
        h1 Blackboard
      span.Details Tyler Adcock | Jacob Eaton | Erika Meza
    div.NavButtons
      a(href="/user")
          div.NavButton Login
